---
name: "build"

on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches: master

jobs:
  build:
    name: Python ${{ matrix.python-version }} | Flask ${{ matrix.flask-version }} | Ubuntu
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: 3.6
            flask-version: "0.12.*"
          - python-version: 3.6
            flask-version: "1.0.*"
          - python-version: 3.6
            flask-version: "1.1.*"
          - python-version: 3.6
            flask-version: "2.0.*"

          - python-version: 3.7
            flask-version: "2.0.*"
          - python-version: 3.7
            flask-version: "2.1.*"
          - python-version: 3.7
            flask-version: "2.2.*"

          - python-version: 3.8
            flask-version: "2.0.*"
          - python-version: 3.8
            flask-version: "2.1.*"
          - python-version: 3.8
            flask-version: "2.2.*"

          - python-version: 3.9
            flask-version: "2.0.*"
          - python-version: 3.9
            flask-version: "2.1.*"
          - python-version: 3.9
            flask-version: "2.2.*"
            coverage: true

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Flask ${{ matrix.flask-version }}
        run: |
          pip install Flask==${{ matrix.flask-version }}
          pip install pillow
          pip install coverage
          pip install mock

      - name: Run tests
        run: |
          make test

      - if: ${{ matrix.coverage }}
        run: |
          make coverage

      - if: ${{ matrix.coverage }}
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
